{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load jalali_tags %}
{% load persian_translation_tags %}
{% load humanize %}

{% block page_title %}{% trans "Logout" %}{% endblock page_title %}


{% block content %}

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="register-box">
                        <h1 class="heading__tertiary mb--30">{% trans "Logout" %}</h4>
                        <p class="mb--30"><strong>{{ user.username }}</strong> {% trans "Are you sure you want to log out?" %}</p>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="submit" value="{% trans 'Logout' %}" class="btn btn-submit btn-style-1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper Start -->

{% endblock content %}
    